*{
    box-sizing: border-box;
}
.card{
    height: 10rem;
    background: lightblue;
}
.header{
    grid-area: header;
    background: red;
}
.sidebar{
    grid-area: sidebar;
    background: orange;
}
.item1{
    display: flex;
    flex-wrap: wrap;
}

.product1{
    width: 100%;
    height: 100%;
    background: url("seicento.jpeg");
    background-size: 30vh;
}
.product1:hover{
    
}
.description1{
    width: 100%;
    height: 15%;
    color: white;
    
}
.item2{

}
.item3{

}
.footer{
    grid-area: footer;
    background: yellow;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    grid-template-areas: 
        "header header header header"
        "sidebar item1 item2 item3"
        "sidebar item4 item5 item6"
        "sidebar item7 item8 item9"
        "sidebar item10 item11 item12"
        "footer footer footer footer";
}