body{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}
.main{
    height: 50vh;
    width: 100%;
    background-color: gray;
}
.main2{
    height: 50vh;
    width: 100%;
    background-color: gray;
}