.tytul {
    background: grey;
    margin: 0px auto 20px;
    padding: 20px;
    text-align: center;
}
.element {
    margin: 18px;
}
.first, .second {
    background: lightblue;
    padding: 5px;
    margin: 0px 2px;
}