* {
    margin: 0;
    padding: 0;
}
.main {
    width: 100%;
    height: 800px;
    display: flex;
}
.container1 {
    flex: 3;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.container2 {
    flex: 1%;
    background-color: orange;
    display: flex;
    align-items: flex-end;
}
.container3 {
    flex: 1;
    background-color: yellow;
}
.itema {
    flex: 1 50%;
    background-color: green;
}
.itemb {
    flex: 1 50%;
    background-color: pink;
}
.itemc {
    flex: 1 33%;
    background-color: crimson;
}
.itemd {
    flex: 1 33%;
    background-color: lightblue;
}
.iteme {
    flex: 1 33%;
    background-color: yellow;
}
.itemf {
    flex: 1 100%;
    background-color: lime;
}
.kwadrat {
    display: flex;
    justify-content: center;
    align-items: center;
}
.myheight {
    height: 50px;
}
.image {
    height: 50px;
    width: 50px;
    float: left;
}
