.index{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    position: relative;
    height: 50%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    min-width: 719px;
    max-width: 719px;
    border: solid 1px gray;
    border-radius: 20px;
    
}
.button{
    height: 100%;
    width: 40px;
    background: black;
    opacity: 0.2;
    font-size: 40px;
    display: flex;
    align-items: center;
}

.slider_item{
    position: absolute;
    height: 100px;
    width: 200px;
    display: none;
    
}
.active{
    display: block;
    height: 100%;
    width: 100%;
    
}
.right{
    position: absolute;
    right: 0px;
    z-index: 10;
    border-radius: 0px 20px 20px 0px;
}
.right:hover{
    opacity: 0.5;
}
.left{
    position: absolute;
    left: 0px;
    z-index: 10;
    border-radius: 20px 0px 0px 20px;
}
.left:hover{
    opacity: 0.5;
}
.h{
    position: absolute;
    margin: 0px;
}
.img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.slide_r{
    -webkit-animation-name: animation_r;
    -webkit-animation-duration: 1s;
}

.slide_l{
    -webkit-animation-name: animation_l;
    -webkit-animation-duration: 1s;
}
.fas{
    opacity: 1;
}
.dot_menu{
    z-index: 10;
    border-bottom: solid 1px gray;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
    border-radius: 00px 0px 10px 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.dot{
    height: 25px;
    width: 25px;
    margin: 2px;
    background-color: black;
    border-radius: 50%;
    opacity: 0.2;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot:hover{
    opacity: 0.5;
}
.low_width{
    display: none;
}
@-webkit-keyframes animation_r{
    0%   {left:40px; top:0px; opacity:0;}
    100% {left:0px; top:0px; opacity:1;}
  }
@-webkit-keyframes animation_l{
    0%   {left:-40px; top:0px; opacity:0;}
    100% {left:0px; top:0px; opacity:1;}
  }
@media only screen and (max-width: 855px) {
    .slider{
        display: none;
    }
    .dot_menu{
        display: none;
    }
    .low_width{
        display: inline-block;
    }
}
