body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100%;
    background: #9999C3;
    color: white;
    text-align: center;
    font-family: "Ubuntu Condensed";
}
.header{
    background: #8E88C8;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid white;
}

.logo{
    height: 150px;
    width: 282px;
    filter:invert(100%)
}
.logo:hover{
    filter:invert(70%);
}
.sidebar{
    background: #9999C3;
    grid-area: sidebar;
    border-top: 5px solid white;
   
}
.main{
    background: rgb(171, 156, 207);
    grid-area: main;
    border: 5px solid white;
    border-radius: 0px 0px 0px 100px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    
}

.footer{
    background: #9999C3;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 20% 77% 3%;
    grid-template-columns: 15% 85%;
    grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer";
}
a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
a:hover{
    filter:invert(70%);
}
.sidebar a{
    border: solid white 1px;
    margin: 2px;
    border-radius: 10px;
} 


.delete{
    background: none;
    color: white;
    border: none; 
    
}
.add_form{
    display: flex;
}

input{
    cursor: pointer;
    color: white; 
}
.submit{
    border-radius: 10px;
    background: none;
    padding: 5px;
}
select{
    color: white;
    text-align: center;
}

table{
    border-radius: 15px;
}
th{
    border-radius: 10px;
    background: rgb(143, 130, 173);
    padding: 5px;
}
td{
    border-radius: 10px; 
    padding: 5px;
}
tr{
    border-radius: 10px; 
}
tr:hover{
    filter:invert(70%);
}
.tabh:hover{
    filter:invert(0%);
}
.bibl{
    height: 80%;
    width: 80%;
    border-radius: 0% 0% 0% 15%;
    border: solid 5px white;
    max-width: 800px;
}
.socialtab{
    height: 15vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    
    right: 5px;
}
.social{
    font-size: 35px;
}

p{
    margin: 0px;
    font-size: 20px;
}
.menu{
    padding: 5px;
}
@media only screen and (max-width: 774px) {
    p{
      font-size: 0px;
    }
  }
@media only screen and (max-width: 360px) {
    .social{
        font-size: 0px;
    }
}
@media only screen and (max-width: 774px) {
    table{
        width: 400px;
        font-size: 10px;
    }
}




