body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    font-family: "Verdana", sans-serif;
}
header {
    background: crimson;
    flex-basis: 100%;
    height: 20%;
}
nav {
    background: deeppink;
    flex-basis: 20%;
    height: 70%;
}
section {
    background: pink;
    flex-basis: 60%;
    height: 70%;
    overflow: scroll;
}
aside {
    background: magenta;
    flex-basis: 20%;
    height: 70%;
}
footer {
    background: purple;
    flex-basis: 100%;
    height: 10%;
}
h3 {
    text-align: center;
}
table, td {
    border: 1px solid black;
}
table {
    margin: 5px;
}