body {
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.main {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left {
    background: red;
}
.right {
    background: blue;
}
.inputcontainer {
    width: 200px;
    height: 100px;
    position: relative;
}
.list {
    width: 300px;
    background: yellow;
}
.input {
    left: 0px;
}
.button {
    right: 0px;
    top: 40px;
    position: absolute;
}